body
{
	margin: 0;
	background: #eee;
}



*
{
	box-sizing: border-box;
	font-family: roboto;
	color: #333;
	transition: all 0.6s cubic-bezier(1,.32,.31,1.43);
}



.container
{
	display: flex;
	flex-wrap: wrap;
	padding: 50px;
	height: 100vh;
	background: #eee;

}

.card
{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	min-width: 270px;
	/*height: 360px;*/
	height: 330px;
	background: #fff;
	border: 3px solid #000a;
	border-radius: 10px;
	margin: 30px;
	overflow: hidden;
	justify-content: flex-start;
	background: url(../pics/bg1.jpg);
	background-size: cover;
	box-shadow: 0 3px 20px 2px #333a;
	cursor: pointer;

}

.card:active
{
	height: 300px;
}

/*.back
{
	background: url(../pics/bg1.jpg);
	height: 150px;
	
	width: 270px;
	background-position: center;
	z-index: 1;
	position: absolute;

}*/

.dp	
{
	text-align: center;
	width: 270px;
	height: 240px;
	border-radius: 0px 0 20px 20px;
	margin: 0px auto;
	overflow: hidden;
	position: absolute;
	background: url(../pics/dp3.jpg);
	background-size: cover;
	background-position: center;
	z-index: 5;
	box-shadow: 0 3px 20px 2px #0009;
	transform-style: preserve-3d;
}


.name
{
	font-size: 1.4em;
	font-weight: 500;
	z-index: 3;
	color: #fffc;
}
.info
{
	font-size: 0.9em;
	font-weight: 500;
	color: #666;
	font-family: montserrat;
	z-index: 3;
}

.contact
{
	margin: 20px auto 10px auto;
	padding: 3px;
	text-align: center;
	font-weight: 500;
	width: 60%;
	border-radius: 10px;
	height: 40px;
	line-height: 35px;
	background: #009688;
	z-index: 3;


}

.data
{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #0001;
	padding:30px 10px 10px 10px;
	width: 100%;
	position: absolute;
	bottom: -70px;	
	z-index: 4;
	
}

@keyframes drop{
	
	0%{bottom: -70px;}
	30%{bottom: -50px;}
	65%{bottom: -70px;}
	100%{bottom: -70px;}
}

.tag
{
	width: 30px;
	height: 30px;
	/*border-radius: 50%;*/
	/*background: #f00 /*#f44336*/;*/
	position: absolute;
	top: 30px;
	margin: 0 auto;
	z-index: 9;
	color: white;
	font-family: montserrat;
	font-size: 0.8em;
	overflow: hidden;
	text-align: center;
	background: linear-gradient(to bottom right,#f00,#0000,#0000);
	transform: rotate(45deg);
}


.bar
{
	display: inline-block;
	background: red;
	width: 25%;
	height: 3px;
	margin: 0;
	padding: 0;
}

.barc
{
	position: absolute;
	display: table;
	margin: 0;
	padding: 0;
	bottom: -5px;
	width: 100%;
	text-align: center;
}   
	 	