

*{
    font-family: 'Baloo Bhaina 2', cursive;
}

.circle{
    margin-top: 10rem;
    opacity: 0.5;
    height: 550px;
    width: 550px;
    margin-bottom: -15rem;
}

.p1{
    max-height: 110vh;
    overflow: hidden;
}

.p2{
    background: #fff;
    height: 10rem;
}

.icon{
    opacity: 0.5;
}

.text-muted{
    font-weight: 400;
}

.pg{
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
}